.row {display: flex;}
.cell {
   border: 1px solid black;
   width: 100px;
   height: 100px;
   background-color: grey;
}
.mine {
   background-size: cover;
}
.number {
   color: red;
   font-size: 2em;
   text-align: center;
   vertical-align: middle;
}
.number p {
   display: none;
}
