#board {
   display: flex;
}
.row {
   display: flex;
   flex-direction: column;
}
.cell {
   flex: 1;
   border: 1px solid black;
   width: 100px;
   height: 100px;
   background-color: grey;
}
#mine {
   background-size: cover;
}
